.left {
  height: 500px;
  background-color: #e3e3e3;
  grid-area: left;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  h1 {
    color: crimson;
  }
  h5 {
    color: black;
  }
}
.right {
  height: 500px;
  background-color: #e3e3e3;
  grid-area: right;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
